body {
  margin: 0;
  padding: 0;
  /* background: radial-gradient(to-left, #151515, #101010, #0d0d0d, #000000); */
  color: white;
  font-family: "Arial", sans-serif;
  height: 100vh;
  
}

.dotted-background {
  background-color: #0a111f;
  background-image: radial-gradient(#4a5568 1px, transparent 1px);
  background-size: 30px 30px;
  /* animation: moveDots 10s linear infinite; */
}